*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: Geneva, Verdana;
}

button {
    max-width: 1400px;
    border-width: thin;
}

body {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 2%;
}

.blue-problem {
    position: relative;
}

#nav-bar {
    display: flex;
    margin-left: 5%;
}

.logo {
    margin-top: auto;
    margin-right: auto;
    align-self: center;
}

a {
    display: auto;
    padding: auto;
    margin-top: auto;
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-size: 0.78rem;
    margin-bottom: auto;
    font-size: x-small;
}

a:hover {
    color: rgb(241, 94, 94);
}

.a3 {
    margin-right: 5%;
}

.login {
    margin-top: auto;
    margin-right: 9%;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 25px 10px 25px;
    background-color: rgb(241, 94, 94);
    font-size: x-small;
    font-weight: bold;
    color: white;
    height: 4em;
}

.login:hover {
    color: rgb(241, 94, 94);
    border: solid rgb(241, 94, 94);
    border-width: thin;
    background-color: white;
}


/*----------------------section 1------------------*/

.section1 {
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
    margin-left: 5%;
}

.section1-span {
    margin-top: 4.8rem;
    margin-left: 1rem;
}

.section1 img {
    margin-right: 0;
}

.p1 {
    font-size: 2.9rem;
    font-weight: bolder;
    color: rgb(60, 67, 75);
}

.p2 {
    margin-top: 1.7rem;
    color: lightslategrey;
    line-height: 1.7rem;
    width: 30rem;
    font-weight: lighter;
}

.section1 button {
    padding: 0.8rem 1.3rem 0.8rem 1.3rem;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 0.5rem;
}

.chrome-btn {
    margin-right: 1.5rem;
    background-color: rgb(87, 118, 204);
    color: white;
    border-width: thin;
    box-shadow: 0.5px 5px 5px 1px rgb(236, 233, 233);
}

.firefox-btn {
    background-color: rgb(246, 245, 245);
    color: grey;
    border-color: rgb(246, 245, 245);
    border-width: thin;
    box-shadow: 0.5px 5px 5px 1px rgb(236, 233, 233);
}

.chrome-btn:hover {
    color: rgb(87, 118, 204);
    background-color: white;
    border-color: rgb(87, 118, 204);
}

.firefox-btn:hover {
    color: rgb(10, 75, 119);
    border: ridge rgb(10, 75, 119);
    border-width: thin;
}

#blue {
    position: absolute;
    left: 20%;
    top: 28%;
    background-color: rgb(87, 118, 204);
    height: 75%;
    width: 80%;
    z-index: -1;
    border-bottom-left-radius: 10rem;
    overflow: hidden;
}


/*--------------------------------section 2------------------*/

.section2 {
    margin-top: 10%;
    margin-left: 5%;
}

.span1-section2 {
    text-align: center;
}

.section2-innerspan {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.section2-innerspan h2 {
    margin-bottom: 1.4rem;
    color: rgba(2, 2, 22, 0.787);
    font-size: x-large;
}

.section2-innerspan p {
    color: lightslategrey;
    margin-top: 0.6em;
    font-size: 1em;
    max-width: 39vw;
    margin-left: auto;
    margin-right: auto;
}

.line-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4em;
}

.line1,
.line2 {
    border-bottom: solid rgb(233, 227, 227);
    padding-left: 3em;
    padding-right: 3em;
    border-width: thick;
    padding-bottom: 2em;
    font-size: small;
}

.line12 {
    border-bottom: solid red;
    padding-left: 3em;
    padding-right: 3em;
    border-width: thick;
    padding-bottom: 2em;
    font-size: small;
}

.line3 {
    padding-left: 3em;
    margin-right: 3.5em;
    border-bottom: solid rgb(233, 227, 227);
    border-width: thick;
    padding-right: 3em;
    padding-bottom: 2em;
    font-size: small;
}

.dark1 {
    padding-left: 3em;
    padding-right: 3em;
    border-bottom: solid rgb(241, 94, 94);
    border-width: thick;
    padding-bottom: 2em;
    font-size: small;
    color: #242a45;
}

.dark2 {
    color: #242a45;
    padding-left: 3em;
    padding-right: 3em;
    border-width: thick;
    padding-bottom: 2em;
    font-size: small;
    border-bottom: solid red;
}

.dark3 {
    color: #242a45;
    padding-left: 3em;
    margin-right: 3.5em;
    border-width: thick;
    padding-right: 3em;
    padding-bottom: 2em;
    font-size: small;
    border-bottom: solid red;
}

.hover:hover {
    color: rgb(241, 94, 94);
    font-size: small;
}

.line1,
.line2,
.line3 {
    color: rgb(147, 144, 144);
    font-size: small;
}

.simple-con {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
}

.simple-con button {
    background-color: rgb(87, 118, 204);
    color: white;
    font-size: small;
    margin-top: 1.5rem;
    height: 2.5rem;
    border-radius: 5px;
    padding-left: 5px;
    width: 7rem;
}

.simple-span {
    margin-top: 4rem;
    margin-left: 8em;
}

.simple-con img {
    margin-left: 3em;
}

.simple-con p~p {
    width: 26em;
    color: lightslategrey;
    line-height: 1.5em;
}

.simple-con :first-child {
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 1em;
    color: rgba(2, 2, 22, 0.787);
}

.speedy-con {
    display: none;
    flex-direction: row;
    margin-top: 4em;
}

.speedy-con button {
    background-color: rgb(87, 118, 204);
    color: white;
    font-size: small;
    margin-top: 1.5rem;
    height: 2.5rem;
    border-radius: 5px;
    padding-left: 5px;
    width: 7rem;
}

.speedy-span {
    margin-top: 4rem;
    margin-left: 10em;
}

.speedy-con img {
    margin-left: 4em;
}

.speedy-con p~p {
    width: 26em;
    color: lightslategrey;
    line-height: 1.5em;
}

.speedy-con :first-child {
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 1em;
    color: rgba(2, 2, 22, 0.787);
}

.share-con {
    display: none;
    flex-direction: row;
    margin-top: 4em;
}

.share-con button {
    background-color: rgb(87, 118, 204);
    color: white;
    font-size: small;
    margin-top: 1.5rem;
    height: 2.5rem;
    border-radius: 5px;
    padding-left: 5px;
    width: 7rem;
}

.share-span {
    margin-top: 4rem;
    margin-left: 9.4em;
}

.share-con img {
    margin-left: 6em;
}

.share-con p~p {
    width: 26em;
    color: lightslategrey;
    line-height: 1.5em;
}

.share-con :first-child {
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 1em;
    color: rgba(2, 2, 22, 0.787);
}

#blue2 {
    position: absolute;
    left: 1rem;
    top: 74rem;
    background-color: rgb(87, 118, 204);
    height: 21rem;
    width: 36rem;
    z-index: -1;
    border-bottom-right-radius: 10rem;
    border-top-right-radius: 20rem;
}


/*-----------------------section3-------------------*/

.section3 {
    margin-top: 10%;
}

.section3 :first-child {
    text-align: center;
}

.section3 :first-child :first-child {
    margin-bottom: 1.4rem;
    color: rgba(2, 2, 22, 0.787);
    font-weight: bolder;
    font-size: x-large;
}

.section3 :first-child p+p {
    color: lightslategrey;
    line-height: 1.5em;
}

.browsers {
    display: flex;
    justify-content: center;
}

.chrome {
    box-shadow: 1px 1px 6px 1px rgb(226, 226, 226);
    padding-top: 1.5em;
    margin-top: 7rem;
    height: 20%;
    width: 15%;
    border-radius: 5px;
}

.chrome :first-child+p {
    font-weight: bolder;
    font-size: small;
    color: rgba(2, 2, 22, 0.787);
}

.chrome :first-child+p+p {
    font-size: x-small;
    margin-top: 0.5em;
    margin-bottom: 2em;
    color: lightslategrey;
}

.section3 button {
    background-color: rgb(87, 118, 204);
    color: white;
    font-size: x-small;
    margin-top: 1rem;
    height: 2.5rem;
    border-radius: 5px;
    padding-left: 5px;
    width: 90%;
    margin-bottom: 1em;
    margin-left: 5px;
    margin-right: 5px;
    border-width: thin;
}

.section3 button:hover {
    background-color: white;
    color: rgb(87, 118, 204);
    border: solid rgb(87, 118, 204);
    border-width: thin;
}

.fox {
    border-radius: 5px;
    padding-top: 1.5em;
    box-shadow: 1px 1px 3px 1px rgb(226, 226, 226);
    margin-top: 10rem;
    text-align: center;
    height: 20%;
    width: 15%;
    margin-left: 2em;
}

.fox :first-child+p {
    font-weight: bolder;
    font-size: small;
    color: rgba(2, 2, 22, 0.787);
}

.fox :first-child+p+p {
    font-size: x-small;
    color: lightslategrey;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.opera {
    border-radius: 5px;
    margin-bottom: 1.4rem;
    padding-top: 1.5em;
    box-shadow: 1px 1px 3px 1px rgb(226, 226, 226);
    margin-top: 13rem;
    text-align: center;
    height: 20%;
    width: 15%;
    margin-left: 2em;
}

.opera :first-child+p {
    font-weight: bolder;
    font-size: small;
    color: rgba(2, 2, 22, 0.787);
}

.opera :first-child+p+p {
    font-size: x-small;
    color: lightslategrey;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.fox img,
.opera img,
.chrome img {
    margin-bottom: 1.4rem;
}

.fox p+img,
.opera p+img,
.chrome p+img {
    margin-bottom: 0rem;
}


/*----------------------section 4-------------------------*/

.section4 {
    text-align: center;
    margin-top: 10%;
}

#frequent {
    font-weight: bolder;
    font-size: x-large;
    color: rgba(2, 2, 22, 0.787);
    margin-bottom: 1.4rem;
}

.section4 p {
    color: lightslategrey;
    font-size: 0.8em;
    margin-bottom: 0.6em;
}

.span1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.span1 img {
    align-self: center;
}

#lastp {
    margin-bottom: 4em;
}

.span1 p {
    margin-right: 30%;
    width: 100%;
    font-weight: bold;
    color: rgba(2, 2, 22, 0.787);
    font-size: 0.8em;
}

.span1 p:hover {
    color: rgb(241, 94, 94);
}

#drop1,
#drop2,
#drop3,
#drop4 {
    display: none;
    font-size: 0.7em;
    line-height: 1.7em;
}

.span01 {
    display: inline-block;
    border-top: solid silver;
    border-bottom: solid silver;
    text-align: left;
    width: 36%;
    margin-left: 32%;
    border-top-width: thin;
    border-bottom-width: thin;
}

.list-con {
    display: flex;
    flex-direction: column;
}

.section4 button {
    background-color: rgb(87, 118, 204);
    color: white;
    font-size: small;
    margin-top: 2rem;
    height: 3rem;
    border-radius: 7px;
    padding-left: 5px;
    width: 7rem;
}


/*-----------------------section5------------------------------*/

.blue-con {
    display: flex;
    flex-direction: column;
    background-color: rgb(87, 118, 204);
}

.section5 {
    margin-top: 10%;
    text-align: center;
}

.words :first-child {
    margin-top: 3.5%;
    font-size: x-small;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-bottom: 2.7%;
}

.words :first-child~p {
    font-size: 2em;
    color: white;
    font-weight: bold;
    line-height: 1.6em;
}

.words {
    margin-bottom: 3em;
}

.neutral {
    width: 98.5%;
    height: 3.5em;
    border-width: thin;
    border-radius: 7px;
}

.errorinp {
    border-width: medium;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-color: rgb(241, 94, 94);
    border-style: solid;
    width: 98.5%;
    height: 3.5em;
}

.contact-con {
    margin-bottom: 5%;
}

input::placeholder {
    padding-left: 8%;
}

#sub {
    height: 3.6em;
    border-width: medium;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 7px;
    border-color: rgb(246, 136, 136);
    background-color: rgb(241, 94, 94);
    color: white;
    width: 10%;
}

#sub:hover {
    color: rgb(241, 94, 94);
    background-color: white;
    border-color: rgb(241, 94, 94);
    border-width: medium;
}

.black-con {
    margin: 0 0%;
    width: 100%;
    color: white;
    background-color: #242a45;
    display: flex;
    height: 5em;
}

.black-con a {
    color: #fff;
    font-weight: lighter;
    font-size: 0.5em;
    margin-top: auto;
    text-decoration: none;
}

.black-con svg {
    background-color: #242a45;
    margin-left: 10%;
    align-self: center;
    margin-right: 7%;
}

.book {
    fill: #ffffff;
}

.logos {
    display: flex;
    flex-direction: row;
}

.cont {
    margin-right: 37%;
}

.logos:first-child {
    margin-right: 1.9em;
}

.logos a {
    margin-top: auto;
}

.svg:hover {
    fill: rgb(241, 94, 94);
}

.black-con a:hover {
    color: rgb(241, 94, 94);
}

.error {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 2%;
    text-align: left;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

em {
    display: none;
    background-color: rgb(241, 94, 94);
    font-size: x-small;
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 4px;
}

.inpp {
    position: relative;
}

.inpp img {
    display: none;
    position: absolute;
    right: 18px;
    top: 15px;
}

@media only screen and (min-width:1400px) {
    #blue {
        position: absolute;
        left: 20%;
        top: 29%;
        background-color: rgb(87, 118, 204);
        height: 75%;
        width: 80%;
        z-index: -1;
        border-bottom-left-radius: 10rem;
        overflow: hidden;
    }
}

@media only screen and (max-width:500px) {
    #nav-bar a,
    #nav-bar button {
        display: none;
    }
    #nav-bar {
        margin-left: auto;
    }
    body {
        margin-left: auto;
        margin-right: auto;
    }
    #blue {
        position: absolute;
        left: 16vw;
        top: 50%;
        background-color: rgb(87, 118, 204);
        height: 50%;
        width: 78%;
        z-index: -1;
        border-bottom-left-radius: 38%;
        overflow: hidden;
    }
    /*-------------------------section1--------------------*/
    .section1 {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .section1 img {
        width: 100vw;
        margin-right: auto;
        margin-left: auto;
        padding: 0
    }
    div {
        display: flex;
        flex-direction: row;
    }
    .p1 {
        text-align: center;
        font-size: 1.8rem;
        font-weight: bolder;
        color: rgb(60, 67, 75);
    }
    .p2 {
        text-align: center;
        margin-top: 1.7rem;
        color: lightslategrey;
        line-height: 1.7rem;
        width: auto;
        font-weight: lighter;
    }
    .section1 button {
        padding: 0.8rem 1rem 0.8rem 1rem;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 0.5rem;
    }
    /*----------------------------section2---------------*/
    .section2 {
        margin: 10% auto;
        position: relative;
    }
    .span1-section2 {
        text-align: center;
    }
    .section2-innerspan {
        display: flex;
        flex-direction: column;
    }
    .section2-innerspan h2 {
        margin-bottom: 1.4rem;
        color: rgba(2, 2, 22, 0.787);
        font-size: x-large;
    }
    .section2-innerspan p {
        color: lightslategrey;
        margin-top: 0.6em;
        font-size: 1em;
        max-width: 100%;
    }
    .line-con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4em;
    }
    .line1,
    .line2 {
        border-bottom: solid rgb(233, 227, 227);
        padding-left: 0;
        padding-right: 0;
        border-width: thin;
        padding-bottom: 0em;
        font-size: small;
    }
    .line12 .redd {
        display: block;
        align-self: center;
        border: red solid;
        width: 35%;
        margin: 0px auto;
        border-width: thin
    }
    .redd2 {
        display: none;
        align-self: center;
        border: red solid;
        width: 26%;
        margin: 0px auto;
        border-width: thin
    }
    .redd3 {
        display: none;
        align-self: center;
        border: red solid;
        width: 21%;
        margin: 0px auto;
        border-width: thin
    }
    .line12 p,
    .line1 p,
    .line2 p,
    .line3 p {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .line12 {
        border-top: solid rgb(233, 227, 227);
        ;
        border-bottom: solid rgb(233, 227, 227);
        ;
        padding-left: 0;
        padding-right: 0;
        border-width: thin;
        padding-bottom: 0em;
        font-size: small;
        width: 100%;
        margin: 0 auto;
    }
    .line3 {
        border-bottom: solid rgb(233, 227, 227);
        border-width: thin;
        font-size: small;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .dark1 {
        border-bottom: solid rgb(241, 94, 94);
        border-width: thick;
        font-size: small;
        color: #242a45;
        width: 100%;
        margin: 0 auto;
    }
    .dark2 {
        color: #242a45;
        border-width: thick;
        width: 100%;
        margin: 0 auto;
        font-size: small;
        border-bottom: solid red;
    }
    .dark3 {
        color: #242a45;
        border-width: thick;
        font-size: small;
        border-bottom: solid red;
        width: 100%;
        margin: 0 auto;
    }
    .hover:hover {
        color: rgb(241, 94, 94);
        font-size: small;
    }
    .line1,
    .line2,
    .line3 {
        color: rgb(147, 144, 144);
        font-size: small;
    }
    .simple-con {
        display: flex;
        flex-direction: column;
        margin-top: 4em;
        text-align: center;
    }
    .simple-con button {
        background-color: rgb(87, 118, 204);
        color: white;
        font-size: small;
        margin-top: 1.5rem;
        height: 2.5rem;
        border-radius: 5px;
        padding-left: 5px;
        width: 7rem;
        text-align: center;
    }
    .simple-span {
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
    }
    .simple-con img {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        width: 80vw
    }
    .simple-con p~p {
        text-align: center;
        width: 100vw;
        color: lightslategrey;
        line-height: 1.5em;
    }
    .simple-con :first-child {
        text-align: center;
        font-weight: bolder;
        font-size: x-large;
        margin-bottom: 1em;
        color: rgba(2, 2, 22, 0.787);
    }
    .speedy-con {
        display: none;
        flex-direction: column;
        margin-top: 4em;
        text-align: center;
    }
    .speedy-con button {
        background-color: rgb(87, 118, 204);
        color: white;
        font-size: small;
        margin-top: 1.5rem;
        height: 2.5rem;
        border-radius: 5px;
        padding-left: 5px;
        width: 7rem;
        text-align: center;
    }
    .speedy-span {
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
    }
    .speedy-con img {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }
    .speedy-con p~p {
        text-align: center;
        width: 100vw;
        color: lightslategrey;
        line-height: 1.5em;
    }
    .speedy-con :first-child {
        text-align: center;
        font-weight: bolder;
        font-size: x-large;
        margin-bottom: 1em;
        color: rgba(2, 2, 22, 0.787);
    }
    .share-con {
        display: none;
        flex-direction: column;
        margin-top: 4em;
        text-align: center;
    }
    .share-con button {
        background-color: rgb(87, 118, 204);
        color: white;
        font-size: small;
        margin-top: 1.5rem;
        height: 2.5rem;
        border-radius: 5px;
        padding-left: 5px;
        width: 7rem;
    }
    .share-span {
        margin-top: 4rem;
        margin: 4rem auto;
    }
    .share-con img {
        margin-left: auto;
        margin-right: auto;
        width: 80vw
    }
    .share-con p~p {
        width: 100vw;
        color: lightslategrey;
        line-height: 1.5em;
    }
    .share-con :first-child {
        font-weight: bolder;
        font-size: x-large;
        margin-bottom: 1em;
        color: rgba(2, 2, 22, 0.787);
    }
    #blue2 {
        position: absolute;
        left: 1%;
        top: 53%;
        background-color: rgb(87, 118, 204);
        height: 17%;
        width: 80%;
        z-index: -1;
        border-bottom-right-radius: 10rem;
        border-top-right-radius: 20rem;
    }
    /*----------------------------section 3-------------*/
}